* {
    font-family : 'Courier New', Courier, monospace;
     box-sizing: border-box; 
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height : 100vh;
    margin: 0;
}
p {
    font-size : 1rem;
    line-height: 1.6;
}
.book{
    display: flex;
    gap: 10px;
    border: 10px solid gray;
    width: 60%; 
    padding:10px;
}
.page-left ,
.page-right  {
    flex :1;
    padding: 10px;
    background-color: lightyellow;
    height : 90vh;
}

@media (max-width: 600px) {
    .book {
        width: 90%;
        flex-direction: column; /* stack pages on mobile */
    }

    .page-left,
    .page-right {
        width: 100%;
    }
}