*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Courier New', Courier, monospace;
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
    background-color:whitesmoke;
}

.book{
    width:60%;
    height:80vh;
    padding:10px;
    border:10px solid gray;
    background-color:white;
    overflow:hidden;
}

.page{
    width:50%;
    height:100%;
    padding:20px;
    background-color:lightgray;
    opacity: 1;
    overflow-y:auto;
    transition:
        opacity 0.3s ease,
        transform 0.3s ease;
}

.page.animate{
    opacity:0;
    transform:translateX(40px);
}

p{
    font-size:1rem;
    line-height:1.7;
}

.buttons{
    display:flex;
    gap:20px;
}

button{
    padding:10px 20px;
    font-size:1rem;
    cursor:pointer;
}

@media (max-width:600px){

    body{
        padding:10px;
    }
    .book{
        width:95%;
        height:80vh;
    }

    .buttons{
        width:100%;
        justify-content:center;
    }
}